<!DOCTYPE html>
<html>
    <head>
        <title>jack hamby</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4 class="j-header">Jack Hamby</h4>
                    <hr>
                </div>
            </div>

            <div>
                <table class="table">
                    <tr>
                        <td> resume </td> 
                        <td> <a href="/resume">resume</a></td>
                    </tr>
                    <tr> 
                        <td>
                            jones the adventurer
                            <td> <a href="http://64.227.56.145:3000/"> jones </a></td>
                                
                        </td>
                    </tr>
                    <tr>
                        <td> json viewer </td>
                        <td> <a href="http://jsonviewer.jackhamby.com"> http://jsonviewer.jackhamby.com </a></td>
                    </tr>
                    <tr>
                        <td> github </td>
                        <td> <a href="https://github.com/jackhamby"> https://github.com/jackhamby</a></td>
                    </tr>
                    <tr>
                        <td> stack overflow </td>
                        <td>  <a href="https://stackoverflow.com/users/7217301/jack-hamby"> https://stackoverflow.com/users/7217301/jack-hamby</a> </td>
                    </tr>
                    <tr>
                        <td> linkedin </td>
                        <td> <a href="http://www.linkedin.com/in/jack-hamby-626ba7125">www.linkedin.com/in/jack-hamby-626ba7125 </a></td>
                    </tr>

                    <tr>
                        <td> soundcloud <b style="font-size:8px; color: grey;">     warning: really really bad music </b></td> 
                        <td> <a href="https://soundcloud.com/jack-hamby-637965955">https://soundcloud.com/jack-hamby-637965955</a></td>
                    </tr>

       

                </table>
            </div>

        </div>
    </body>
</html>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript">

</script>

<style>

    .j-header {
        padding-top: 1%;
    }

</style>