<!DOCTYPE html>
<html>
    <head>
        <title>jack hamby</title>
        <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="icon" href="/images/jackhamby.png"  type="image/x-icon"> 
    </head>
    <body>
        <div class="container-fluid" style="width: 75%;">
            <div class="row mt-3">
                <div class="col-12">
                    <h4 class="j-header">jack hamby</h4>
                </div>
            </div>

            <div>
                <p> this website is all about jack hamby, a developer based in minneapolis. there are some useful links related to his work below. </p>
                <hr/>
                <table class="j-table"> 
                    <thead>
                        <tr>
                            <th>
                                links
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                resume
                            </td>
                            <td>
                                <a href="/resume">resume</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                github
                            </td>
                            <td>
                                <a href="https://github.com/jackhamby">https://github.com/jackhamby</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                linkedin
                            </td>
                            <td>
                                <a href="http://www.linkedin.com/in/jack-hamby-626ba7125">http://www.linkedin.com/in/jack-hamby-626ba7125</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                soundcloud
                            </td>
                            <td>
                                <a href="https://soundcloud.com/jack-hamby-637965955">https://soundcloud.com/jack-hamby-637965955</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

                <table class="j-table mt-5"> 
                    <thead>
                        <tr>
                            <th>
                                applications
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                json viewer
                            </td>
                            <td>
                                <a href="https://jsonviewer.jackhamby.com">json viewer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                jones the adventurer
                            </td>
                            <td>
                                <a href="https://jones.jackhamby.com">jones the adventurer</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                conway's game of life
                            </td>
                            <td>
                                <a href="https://conways.jackhamby.com">conway's game of life</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                multiplayer battle
                            </td>
                            <td>
                                <a href="https://battle.jackhamby.com">multiplayer battle</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>


<style>

    .j-header {
        padding-top: 1%;
    }

    .j-table {
        width: 100%;
    }

    .j-table td {
        width:50%;
    }

</style>